[submodule "Framer 3"]
	path = Framer 3
	url = https://github.com/bomberstudios/sketch-framer-3
[submodule "alessndro-plugins"]
	path = alessndro-plugins
	url = https://github.com/alessndro/sketch-plugins
[submodule "Generator"]
	path = Generator
	url = https://github.com/bomberstudios/sketch-generator
[submodule "Commands"]
	path = Commands
	url = https://github.com/bomberstudios/sketch-commands.git
[submodule "plugins-sebj"]
	path = plugins-sebj
	url = https://github.com/sebj/Sketch.git
[submodule "Drawing Kit"]
	path = Drawing Kit
	url = https://github.com/groove25/DrawingKit.git
[submodule "JW Sketch Plugins"]
	path = JW Sketch Plugins
	url = https://github.com/joshwayne/jw-sketch-plugins
[submodule "Renameit"]
	path = Renameit
	url = https://github.com/rodi01/RenameIt.git
[submodule "Sketch Upload"]
	path = Sketch Upload
	url = https://github.com/jelias/sketch-upload.git
[submodule "Cemre Sketch Plugins"]
	path = Cemre Sketch Plugins
	url = https://github.com/cemre/cemre-sketch-plugins.git
[submodule "nadavsavio-plugins"]
	path = nadavsavio-plugins
	url = https://github.com/nadavsavio/sketch-plugins.git
[submodule "Dynamic Button"]
	path = Dynamic Button
	url = https://github.com/ddwht/sketch-dynamic-button.git
[submodule "makzan-sketch-plugins"]
	path = makzan-sketch-plugins
	url = https://github.com/makzan/Sketch-Plugin-Scripts
[submodule "vrjbndr-sketch-plugins"]
	path = vrjbndr-sketch-plugins
	url = https://github.com/vrjbndr/sketch-plugins
[submodule "Sketch CSS Sprite Mixin"]
	path = Sketch CSS Sprite Mixin
	url = https://github.com/littlebusters/Sketch-CSS-Sprite-Mixin
[submodule "Day Player"]
	path = Day Player
	url = https://github.com/tylergaw/day-player
[submodule "Random User"]
	path = Random User
	url = https://github.com/jimrutherford/Random-User
[submodule "Blade"]
	path = Blade
	url = git@github.com:sskyy/blade.git
[submodule "tarngerine-plugins"]
	path = tarngerine-plugins
	url = https://github.com/tarngerine/sketch-plugins
[submodule "KrevedAccky-Plugins"]
	path = KrevedAccky-Plugins
	url = https://github.com/KrevedAccky/SketchPlugins
[submodule "Sketch Style Inventory"]
	path = Sketch Style Inventory
	url = https://github.com/getflourish/Sketch-Style-Inventory
