[submodule "alessndro-plugins"]
	path = alessndro-plugins
	url = https://github.com/alessndro/sketch-plugins
	branch = master
[submodule "Commands"]
	path = Commands
	url = https://github.com/bomberstudios/sketch-commands.git
	branch = master
[submodule "plugins-sebj"]
	path = plugins-sebj
	url = https://github.com/sebj/Sketch.git
	branch = master
[submodule "Drawing Kit"]
	path = Drawing Kit
	url = https://github.com/groove25/DrawingKit.git
	branch = master
[submodule "JW Sketch Plugins"]
	path = JW Sketch Plugins
	url = https://github.com/joshwayne/jw-sketch-plugins
	branch = master
[submodule "Renameit"]
	path = Renameit
	url = https://github.com/rodi01/RenameIt.git
	branch = master
[submodule "Sketch Upload"]
	path = Sketch Upload
	url = https://github.com/jelias/sketch-upload.git
	branch = master
[submodule "Cemre Sketch Plugins"]
	path = Cemre Sketch Plugins
	url = https://github.com/cemre/cemre-sketch-plugins.git
	branch = master
[submodule "nadavsavio-plugins"]
	path = nadavsavio-plugins
	url = https://github.com/nadavsavio/sketch-plugins.git
	branch = master
[submodule "makzan-sketch-plugins"]
	path = makzan-sketch-plugins
	url = https://github.com/makzan/Sketch-Plugin-Scripts
	branch = master
[submodule "vrjbndr-sketch-plugins"]
	path = vrjbndr-sketch-plugins
	url = https://github.com/vrjbndr/sketch-plugins
	branch = master
[submodule "Sketch CSS Sprite Mixin"]
	path = Sketch CSS Sprite Mixin
	url = https://github.com/littlebusters/Sketch-CSS-Sprite-Mixin
	branch = master
[submodule "Day Player"]
	path = Day Player
	url = https://github.com/tylergaw/day-player
	branch = master
[submodule "Random User"]
	path = Random User
	url = https://github.com/jimrutherford/Random-User
	branch = master
[submodule "KrevedAccky-Plugins"]
	path = KrevedAccky-Plugins
	url = https://github.com/KrevedAccky/SketchPlugins
	branch = master
[submodule "Sketch Style Inventory"]
	path = Sketch Style Inventory
	url = https://github.com/getflourish/Sketch-Style-Inventory
	branch = master
[submodule "Icon Stamper"]
	path = Icon Stamper
	url = git@github.com:tylergaw/icon-stamper.git
	branch = master
[submodule "SplitDivide"]
	path = SplitDivide
	url = https://github.com/KrevedAccky/SketchSplitDivide
	branch = master
[submodule "Content Generator"]
	path = Content Generator
	url = https://github.com/timuric/content-generator-sketch-plugin
	branch = master
[submodule "CSS Sprite Mixin"]
	path = CSS Sprite Mixin
	url = https://github.com/littlebusters/sketch-css-sprite-mixin
	branch = master
[submodule "Notebook"]
	path = Notebook
	url = https://github.com/marcosvidal/sketch-notebook
	branch = master
[submodule "Copy SCSS Colors"]
	path = Copy SCSS Colors
	url = https://github.com/graphical-iain/copy-scss-colors
	branch = master
[submodule "Select Similar Text Layers"]
	path = Select Similar Text Layers
	url = https://github.com/getflourish/sketch-select-similar-text-layers-plugin
	branch = master
[submodule "Export CSS Text Styles"]
	path = Export CSS Text Styles
	url = https://github.com/getflourish/sketch-export-text-styles
	branch = master
[submodule "CSS Buddy"]
	path = CSS Buddy
	url = git@github.com:jodyheavener/CSS-Buddy.git
	branch = master
[submodule "Dynamic Button"]
	path = Dynamic Button
	url = https://github.com/ddwht/sketch-dynamic-button
	branch = master
[submodule "Bookmarker"]
	path = Bookmarker
	url = https://github.com/turbobabr/Bookmarker
	branch = master
[submodule "Toggle Locked Layers"]
	path = Toggle Locked Layers
	url = https://github.com/ribot/sketch-toggle-locked-layers
	branch = master
[submodule "Arrange Artboards"]
	path = Arrange Artboards
	url = https://github.com/kenmoore/sketch-arrange-artboards
	branch = master
[submodule "Measure"]
	path = Measure
	url = https://github.com/utom/sketch-measure
	branch = master
[submodule "Origami Export"]
	path = Origami Export
	url = https://github.com/tarngerine/sketch-origami-export
	branch = master
[submodule "Name Artboards"]
	path = Name Artboards
	url = https://github.com/tarngerine/sketch-name-artboards
	branch = master
[submodule "Text Align"]
	path = Text Align
	url = https://github.com/bitinn/sketch-text-align
	branch = master
[submodule "ColorMime"]
	path = ColorMime
	url = https://github.com/jtmarmon/ColorMime
	branch = master
[submodule "Artboard Tools"]
	path = Artboard Tools
	url = https://github.com/frankko/Artboard-Tools
	branch = master
[submodule "Subtle Patterns"]
	path = Subtle Patterns
	url = https://github.com/dunckr/sketch-subtlepatterns
	branch = master
[submodule "Data Populator"]
	path = Data Populator
	url = https://github.com/preciousforever/sketch-data-populator/
	branch = master
[submodule "Sketch Flex Layout"]
	path = Sketch Flex Layout
	url = https://github.com/hrescak/sketch-flex-layout
	branch = master
[submodule "ArtboardTricks"]
	path = ArtboardTricks
	url = https://github.com/romannurik/Sketch-ArtboardTricks
	branch = master
[submodule "Palettes"]
	path = Palettes
	url = https://github.com/andrewfiorillo/sketch-palettes
	branch = master
[submodule "Sort Me"]
	path = Sort Me
	url = https://github.com/romashamin/sort-me-sketch
	branch = master
[submodule "Charts.sketchplugin"]
	path = Charts.sketchplugin
	url = https://github.com/nolastan/charts.sketchplugin
	branch = master
[submodule "Fluid"]
	path = Fluid
	url = https://github.com/matt-curtis/Fluid-for-Sketch
	branch = master
[submodule "pointgrid"]
	path = pointgrid
	url = https://github.com/47deg/pointgrid
	branch = master
[submodule "Copy SASS Colors"]
	path = Copy SASS Colors
	url = https://github.com/graphical-iain/copy-scss-colors
	branch = master
[submodule "Optimize Images"]
	path = Optimize Images
	url = https://github.com/peerjollux/sketch-optimizeimages
	branch = master
[submodule "Place Linked Bitmap"]
	path = Place Linked Bitmap
	url = https://github.com/frankko/Place-Linked-Bitmap
	branch = master
[submodule "Sketch Data Studio"]
	path = Sketch Data Studio
	url = https://github.com/thetylerwolf/sketch-data-studio
	branch = master
[submodule "Disconnect"]
	path = Disconnect
	url = https://github.com/einancunlu/Disconnect-for-Sketch
	branch = master
[submodule "Trim Artboards"]
	path = Trim Artboards
	url = https://github.com/arronhunt/Sketch-Trim-Artboards
	branch = master
[submodule "Symbol Me"]
	path = Symbol Me
	url = https://github.com/websiddu/sketch-symbol-me
[submodule "Replace Color"]
	path = Replace Color
	url = https://github.com/lewishowles/sketch-replace-colour
	branch = master
[submodule "Segment Circle"]
	path = Segment Circle
	url = https://github.com/design4use/gb-sketch-segmentcircle
	branch = master
[submodule "Sketch Navigator"]
	path = Sketch Navigator
	url = https://github.com/arshad/Sketch-Navigator
	branch = master
