[submodule "Framer 3"]
	path = Framer 3
	url = https://github.com/bomberstudios/sketch-framer-3
[submodule "alessndro-plugins"]
	path = alessndro-plugins
	url = https://github.com/alessndro/sketch-plugins
[submodule "Generator"]
	path = Generator
	url = https://github.com/bomberstudios/sketch-generator
[submodule "Commands"]
	path = Commands
	url = https://github.com/bomberstudios/sketch-commands.git
[submodule "plugins-sebj"]
	path = "plugins-sebj"
	url = https://github.com/sebj/Sketch.git
[submodule "Drawing Kit"]
	path = Drawing Kit
	url = https://github.com/groove25/DrawingKit.git
[submodule "JW Sketch Plugins"]
	path = JW Sketch Plugins
	url = https://github.com/joshwayne/jw-sketch-plugins
[submodule "Renameit"]
	path = Renameit
	url = https://github.com/rodi01/RenameIt.git
[submodule "Sketch Upload"]
	path = Sketch Upload
	url = https://github.com/jelias/sketch-upload.git
[submodule "Cemre Sketch Plugins"]
	path = Cemre Sketch Plugins
	url = https://github.com/cemre/cemre-sketch-plugins.git
[submodule "nadavsavio-plugins"]
	path = nadavsavio-plugins
	url = https://github.com/nadavsavio/sketch-plugins.git
[submodule "makzan-sketch-plugins"]
	path = makzan-sketch-plugins
	url = https://github.com/makzan/Sketch-Plugin-Scripts
[submodule "vrjbndr-sketch-plugins"]
	path = vrjbndr-sketch-plugins
	url = https://github.com/vrjbndr/sketch-plugins
[submodule "Sketch CSS Sprite Mixin"]
	path = Sketch CSS Sprite Mixin
	url = https://github.com/littlebusters/Sketch-CSS-Sprite-Mixin
[submodule "Day Player"]
	path = Day Player
	url = https://github.com/tylergaw/day-player
[submodule "Random User"]
	path = Random User
	url = https://github.com/jimrutherford/Random-User
[submodule "KrevedAccky-Plugins"]
	path = KrevedAccky-Plugins
	url = https://github.com/KrevedAccky/SketchPlugins
[submodule "Sketch Style Inventory"]
	path = Sketch Style Inventory
	url = https://github.com/getflourish/Sketch-Style-Inventory
[submodule "Sort Layers"]
	path = Sort Layers
	url = git@github.com:getflourish/Sketch-Sort-Layers.git
[submodule "Icon Stamper"]
	path = Icon Stamper
	url = git@github.com:tylergaw/icon-stamper.git
[submodule "SplitDivide"]
	path = SplitDivide
	url = https://github.com/KrevedAccky/SketchSplitDivide
[submodule "Content Generator"]
	path = Content Generator
	url = https://github.com/timuric/content-generator-sketch-plugin
[submodule "CSS Sprite Mixin"]
	path = CSS Sprite Mixin
	url = https://github.com/littlebusters/sketch-css-sprite-mixin
[submodule "Notebook"]
	path = Notebook
	url = https://github.com/marcosvidal/sketch-notebook
[submodule "Copy SCSS Colors"]
	path = "Copy SCSS Colors"
	url = https://github.com/graphical-iain/copy-scss-colors
[submodule "thaanatext"]
	path = "thaanatext"
	url = https://github.com/ajaaibu/thaanatext
[submodule "Select Similar Text Layers"]
	path = "Select Similar Text Layers"
	url = https://github.com/getflourish/sketch-select-similar-text-layers-plugin
[submodule "Export CSS Text Styles"]
	path = Export CSS Text Styles
	url = https://github.com/getflourish/sketch-export-text-styles
[submodule "CSS Buddy"]
	path = CSS Buddy
	url = git@github.com:jodyheavener/CSS-Buddy.git
[submodule "Dynamic Button"]
	path = Dynamic Button
	url = https://github.com/ddwht/sketch-dynamic-button
[submodule "Bookmarker"]
	path = Bookmarker
	url = https://github.com/turbobabr/Bookmarker
[submodule "Toggle Locked Layers"]
	path = Toggle Locked Layers
	url = https://github.com/ribot/sketch-toggle-locked-layers
[submodule "Arrange Artboards"]
	path = Arrange Artboards
	url = https://github.com/kenmoore/sketch-arrange-artboards
[submodule "Measure"]
	path = Measure
	url = https://github.com/utom/sketch-measure
[submodule "Origami Export"]
	path = Origami Export
	url = https://github.com/tarngerine/sketch-origami-export
[submodule "Name Artboards"]
	path = Name Artboards
	url = https://github.com/tarngerine/sketch-name-artboards
[submodule "Text Align"]
	path = Text Align
	url = https://github.com/bitinn/sketch-text-align
	branch = master
[submodule "ColorMime"]
	path = ColorMime
	url = https://github.com/jtmarmon/ColorMime
[submodule "Artboard Tools"]
	path = Artboard Tools
	url = https://github.com/frankko/Artboard-Tools
[submodule "Subtle Patterns"]
	path = Subtle Patterns
	url = https://github.com/dunckr/sketch-subtlepatterns
[submodule "Data Populator"]
	path = Data Populator
	url = https://github.com/preciousforever/sketch-data-populator/
[submodule "Clear Styles"]
	path = Clear Styles
	url = https://github.com/bynathan/clear-styles
[submodule "Sketch Flex Layout"]
	path = Sketch Flex Layout
	url = https://github.com/hrescak/sketch-flex-layout
[submodule "ArtboardTricks"]
	path = ArtboardTricks
	url = https://github.com/romannurik/Sketch-ArtboardTricks
[submodule "Palettes"]
	path = Palettes
	url = https://github.com/andrewfiorillo/sketch-palettes
[submodule "Sort Me"]
	path = Sort Me
	url = https://github.com/romashamin/sort-me-sketch
[submodule "Constraints"]
	path = Constraints
	url = https://github.com/bouchenoiremarc/Sketch-Constraints
[submodule "Data Studio"]
	path = Data Studio
	url = https://github.com/thetylerwolf/sketch-data-studio
[submodule "Charts.sketchplugin"]
	path = Charts.sketchplugin
	url = https://github.com/nolastan/charts.sketchplugin
[submodule "Fluid"]
	path = Fluid
	url = https://github.com/matt-curtis/Fluid-for-Sketch
